body {
    padding-left: 10px;
    background-color: lightblue;
}

.note {
    padding-left: 50px;
}

.buttons {
    padding-left: 50px;
}

.buttons form {
    display: inline;
}

.saveForm {
    padding-bottom: 25px;
}
