<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Note Database</h1>

    <form action="/saveNote" method="post" style="padding-bottom: 25px;">
        <label for="note">Note:</label>
        <input type="text" id="note" name="note" required>
        <button type="submit">Save</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Note</th>
        </tr>
        <tr th:each="note : ${notes}">
            <td th:text="${note.id}"></td>
            <td th:text="${note.note}" style="padding-left: 50px;"></td>
        </tr>
    </table>

</body>
</html>