<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <p th:text="${teksti}">testi</p>

    <form action="/" method="POST">
        <input type="text" name="content"/>
        <input type="submit"/>
    </form> -->

    <table>
        <h1>Note Database</h1>
        <tr>
            <th>ID</th>
            <th>Note</th>
        </tr>
        <tr th:each="note : ${notes}">
            <td th:text="${note.id}"></td>
            <td th:text="${note.note}" style="padding-left: 50px;"></td>
        </tr>
    </table>

</body>
</html>