<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
    <title>Notes</title>
  </head>
  <body>

    <!-- Login -->
    <div class="login-buttons">
      <div th:if="${!#authorization.expression('isAuthenticated()')}">
        <button type="button" onclick="window.location.href='/login'">
          Login
        </button>
        <p th:unless="${#authorization.expression('isAuthenticated')}">
          Login to perform actions.
        </p>
      </div>
      <div th:if="${#authorization.expression('isAuthenticated()')}">
        <button type="button" onclick="window.location.href='/logout'">
          Logout
        </button>
      </div>
    </div>

    <h1>Note Database</h1>

    <!-- Save note -->
    <form action="/saveNote" method="post" class="saveForm">
      <label for="note">Add note:</label>
      <input type="text" id="note" name="note" maxlength="255" required />
      <button
        type="submit"
        th:disabled="${not #authorization.expression('isAuthenticated')}"
      >
        Save
      </button>
    </form>

    <!-- Notes -->
    <table>
      <tr class="headers">
        <th>ID</th>
        <th>Note</th>
      </tr>
      <tr th:each="note : ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.note}" class="note"></td>
        <td class="buttons">
          <form action="/updateNote" method="get">
            <input type="hidden" name="id" th:value="${note.id}" />
            <button
              type="submit"
              th:disabled="${not #authorization.expression('isAuthenticated')}"
            >
              Update
            </button>
          </form>
          <form action="/deleteNote" method="get">
            <input type="hidden" name="id" th:value="${note.id}" />
            <button
              type="submit"
              th:disabled="${not #authorization.expression('isAuthenticated')}"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
    </table>
    
  </body>
</html>
